{%load static%}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
	<script src="{% static 'js/materialize.min.js' %}" ></script>

	<script src="{% static 'js/script.js' %}" ></script>
</head>

<body>
	<nav>
		<div class="nav-wrapper teal">
			<a href="#" class="brand-logo">Home</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/testApp/profile/">Profile</a></li>
				<li><a href="/testApp/transaction/">Transaction</a></li>
				<li><a href="/testApp/balance_inq/">Balance</a></li>
				<li><a href="/testApp/history/">History</a></li>
				<li><a href="/testApp/loan/">Loan</a></li>
				<li><a href="https://www.icicibank.com/en/terms-condition/terms-and-conditions.page">Terms & Condition</a></li>
				<li><a href="/loginmodule/logout/">Log out</a></li>
			</ul>
		</div>
	</nav>

	{% block body %}{% endblock %}
</body>
</html>
