{%load static%}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
	<script src="{% static 'js/materialize.min.js' %}" ></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static 'js/script.js' %}" ></script>
	<style>
body {
    background-image: url("paper.gif");
}
</style>
</head>

<body>
	<nav>
		<div class="nav-wrapper teal">
			<a href="/loginmodule/loggedin/" class="brand-logo">Home</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/testApp/profile/">Profile</a></li>
				<li><a href="/testApp/transaction/">Transaction</a></li>
				<li><a href="/testApp/balance_inq/">Balance</a></li>
				<li><a href="/testApp/history/">History</a></li>
				<li><a href="/testApp/loan/">Loan</a></li>
				<li><a href="/testApp/feedback/">Feedback</a></li>
				<li><a href="/loginmodule/logout/">Log out</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/testApp/profile/">Profile</a></li>
				<li><a href="/testApp/transaction/">Transaction</a></li>
				<li><a href="/testApp/balance_inq/">Balance</a></li>
				<li><a href="/testApp/history/">History</a></li>
				<li><a href="/testApp/loan/">Loan</a></li>
				<li><a href="/testApp/feedback/">Feedback</a></li>
				<li><a href="/loginmodule/logout/">Log out</a></li>
			</ul>
		</div>
	</nav>
	<div class="container center-align">
	{% block content %}{% endblock %}
	</div>
</body>
</html>
