{% extends "base.html" %}

{% block content %}
   <h4>welcome {{request.session.username}}</h4>
    {% if bank_account_list %}
    <ul>
      {% for uname in bank_account_list %}
          {% ifequal uname.user_id request.session.username %}
            <h5> your account number is :{{uname.account_no}}</h5>
            {% endifequal %}
      {% endfor %}

      <form action="/testApp/do_transaction" method="POST">{% csrf_token %}
          <h5>To Account Number:</h5><input type="text" name="from_account"/>
        <h5>Enter a Amount:</h5>
        <input type="text" name="amount1"/>
        <input type="submit" value="submit" class="btn"/>
      </form>
    </ul>
    {% else %}
      <p>There are no user found.</p>
    {% endif %}
{% endblock %}
